@charset "utf-8";
.bg_autumn{background:url(../images/bg_autumn.jpg) center 100px; overflow-x:hidden; background-size:100%;}

.bg_spring{background:url(../images/bg_spring.jpg) center -400px; overflow-x:hidden;}

.bg_winter{background:url(../images/bg_winter.jpg) center top; overflow-x:hidden;}

@font-face{font-family:'font_cn'; src:url(../fonts/font_cn.ttf);}


/*banner*/
.banner_autumn{width:100%;/* height:700px; background:url(../images/banner_autumn.jpg) left center;*/ z-index:99999999;}

/*头部*/
.top{width:1200px; margin:0 auto; position:relative; margin-top:35px;}
.logo{width:373px; margin:0 auto; position:relative;}
.cn_en{position:absolute; right:20px; top:5px; color:#603414; font-size:20px; font-family:'font_cn'; z-index:99999999;}
.cn_en em{float:left; margin-right:10px;}
.cn_en span{float:right; line-height:20px;}
.cn_en a{color:#603414; display:inline-table;}
.cn_en a:hover{text-shadow: 0 2px #fff, 2px 0 #fff, -2px 0 #fff, 0 -2px #fff; color:#eb516a;}

.cn_en2{position:absolute; right:20px; top:-28px; color:#603414; font-size:20px; font-family:'font_cn';}
.cn_en2 em{float:left; margin-right:10px;}
.cn_en2 span{float:right; line-height:20px;}
.cn_en2 a{color:#603414; display:inline-table;}
.cn_en2 a:hover{text-shadow: 0 2px #fff, 2px 0 #fff, -2px 0 #fff, 0 -2px #fff; color:#eb516a;}

.logo2{width:132px; height:138px; float:left; margin-right:55px; margin-left:50px; position:relative;}
.logo2 a{width:100%; height:inherit; display:block; position:absolute; display:none; top:0; left:0;}
.logo2.now a{display:block;}

.nav{position:relative; z-index:999999;}
.nav_in ul{display:block;}
.nav_in ul li{display:block; }
.nav_in ul li dl{}
.nav_in ul li a:hover{text-shadow: 0 2px #fff, 2px 0 #fff, -2px 0 #fff, 0 -2px #fff;}
 

/*导航-秋天*/
.nav_autumn{width:1046px; margin:0 auto; margin-top:28px; position:relative; z-index:999;}
.nav_autumn_in{width:1800px; margin-bottom:57px; text-align:center;}
.nav_autumn_in ul li{width:97px; text-align:center; color:#603414; text-align:center; font-size:20px; font-family:'font_cn'; position:relative; float:left; margin-right:70px; text-align:center;}
.nav_autumn_in ul li img{display:block; margin:0 auto; margin-bottom:12px;}
.nav_autumn_in ul li span{width:97px; height:28px; line-height:28px; display:block;}
.nav_autumn_in ul li a{color:#603414; display:block;}
.nav_autumn_in ul li dl{position:absolute; top:0px; left:0px; line-height:26px; display:none;}
.nav_autumn_in ul li dl .nav_block{width:100%; height:114px;}
.nav_autumn_in ul li dl .nav_block a{width:inherit; height:inherit; display:block;}
.nav_autumn_in ul li dl .nav_second{padding:30px 16px 20px 16px; background:url(../images/nav_autumn_now_b.png); background-size:100% 100%;}
.nav_autumn_in ul li dl dd{width:100%; display:block; white-space:nowrap; text-align:left;}
.nav_autumn_in ul li.now span{background:url(../images/nav_autumn_now.png); background-size:100% 100%; }
.nav_autumn_in ul li.now dl{display:block;}

/*导航-春天*/
.nav_spring{width:1046px; margin:0 auto; margin-top:28px; position:relative; z-index:999;}
.nav_spring_in{width:1800px; margin-bottom:57px; text-align:center;}
.nav_spring_in ul li{width:97px; text-align:center; color:#603414; text-align:center; font-size:20px; font-family:'font_cn'; position:relative; float:left; margin-right:70px; text-align:center;}
.nav_spring_in ul li img{display:block; margin:0 auto; margin-bottom:12px;}
.nav_spring_in ul li span{width:97px; height:28px; line-height:28px; display:block;}
.nav_spring_in ul li a{color:#603414; display:block;}
.nav_spring_in ul li dl{position:absolute; top:0px; left:0px; line-height:26px; display:none;}
.nav_spring_in ul li dl .nav_block{width:100%; height:114px;}
.nav_spring_in ul li dl .nav_block a{width:inherit; height:inherit; display:block;}
.nav_spring_in ul li dl .nav_second{padding:30px 16px 20px 16px; background:url(../images/nav_spring_now_b.png); background-size:100% 100%;}
.nav_spring_in ul li dl dd{width:100%; display:block; white-space:nowrap; text-align:left;}
.nav_spring_in ul li.now span{background:url(../images/nav_spring_now.png); background-size:100% 100%; }
.nav_spring_in ul li.now dl{display:block;}

/*导航-冬天*/
.nav_winter{width:1046px; margin:0 auto; margin-top:28px; position:relative; z-index:999;}
.nav_winter_in{width:1800px; margin-bottom:57px; text-align:center;}
.nav_winter_in ul li{width:97px; text-align:center; color:#603414; text-align:center; font-size:20px; font-family:'font_cn'; position:relative; float:left; margin-right:70px; text-align:center;}
.nav_winter_in ul li img{display:block; margin:0 auto; margin-bottom:12px;}
.nav_winter_in ul li span{width:97px; height:28px; line-height:28px; display:block;}
.nav_winter_in ul li a{color:#603414; display:block;}
.nav_winter_in ul li dl{position:absolute; top:0px; left:0px; line-height:26px; display:none;}
.nav_winter_in ul li dl .nav_block{width:100%; height:114px;}
.nav_winter_in ul li dl .nav_block a{width:inherit; height:inherit; display:block;}
.nav_winter_in ul li dl .nav_second{padding:30px 16px 20px 16px; background:url(../images/nav_winter_now_b.png); background-size:100% 100%;}
.nav_winter_in ul li dl dd{width:100%; display:block; white-space:nowrap; text-align:left;}
.nav_winter_in ul li.now span{background:url(../images/nav_winter_now.png); background-size:100% 100%; }
.nav_winter_in ul li.now dl{display:block;}



/*首页列表*/
.idx_news{width:802px; height:206px; margin:0 auto; background:rgba(255,255,255,0.62); margin-bottom:20px; z-index:9; overflow:hidden;}
.idx_news_list dl dt{width:228px; height:152px; float:left; margin-top:28px; margin-left:14px;}
.idx_news_list dl dd{width:525px; float:right; margin-right:20px;}
.idx_news_list dl dd.title{height:46px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; margin-top:28px; font-size:14px;}
.idx_news_list dl dd.details{height:160px; overflow:hidden; font-size:12px; line-height:20px;}
.idx_news_list dl dd.details span{display:block;}
.idx_news_list dl dd.details label{display:block;}
.idx_news_more{margin-top:20px; text-align:center; color:#603414; font-family:'font_cn'; font-size:20px;}
.idx_news_more a{color:#603414;}
.idx_news_more a:hover{color:#eb516a; text-shadow: 0 2px #fff, 2px 0 #fff, -2px 0 #fff, 0 -2px #fff;}

/*版权信息*/
.copyright{width:100%; text-align:center; line-height:26px; font-size:12px; color:#603414; margin:50px 0;}
.copyright span{display:block;}
.copyright a{color:#603414; position:relative; cursor:pointer;}
.copyright a:hover{color:#eb516a;}
.copyright_qr{width:186px; height:186px; padding:10px; border-radius:10px; background:#ca7551; position:absolute; top:-216px; left:50%; margin-left:-103px; display:none;}
.copyright_qr_triangle_down {width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #ca7551; position:absolute; bottom:-10px; left:50%; margin-left:-5px;}

/*成长记录-相册封面*/
.growth_record_t{width:1024px; margin:0 auto; margin-top:10px; font-size:18px; text-align:center;}
.growth_record{width:762px; margin:0 auto; margin-top:10px; padding:20px; background:rgba(255,255,255,0.62); overflow:hidden;}
.growth_record_list{width:1200px;}
.growth_record_list ul li{width:241px; float:left; margin-right:20px; margin-bottom:8px;}
.growth_record_list ul li img{display:block;}
.growth_record_list ul li span{display:block; height:30px; line-height:30px; text-align:center; font-size:14px;}

/*页码*/
.page{text-align:center; padding:20px 0; color:#603414; font-size:20px; font-family:'font_cn';}
.page a{color:#603414;}
.page a:hover{color:#eb516a; text-shadow: 0 2px #fff, 2px 0 #fff, -2px 0 #fff, 0 -2px #fff;}

/*加入我们*/
.join_us{width:1024px; margin:0 auto; color:#5e250c;}
.join_us_t{width:458px; margin:0 auto;}
.join_us_t_t{text-align:center; font-size:30px; font-family:'font_cn'; margin-bottom:30px;}
.join_us_t_b{line-height:30px; font-size:14px;}
.join_us_t_b ul li{width:100%; float:left;}

.join_us_b{width:802px; margin:0 auto; margin-top:50px;}
.join_us_b_l{width:148px; float:left;}
.join_us_b_l ul li{width:148px; height:48px; text-align:center; line-height:48px; color:#5e250c; font-size:28px; margin-top:30px; margin-bottom:50px; cursor:pointer; font-family:'font_cn';}
.join_us_b_l ul li.now{background:url(../images/join_us_b_l.png);}
.join_us_b_r{width:618px; float:right;}
.join_us_list{}
.join_us_list dl{margin-bottom:30px; color:#5e250c;}
.join_us_list dl dt{font-size:18px; display:block; margin-bottom:22px; font-weight:bold;}
.join_us_list dl dd{font-size:14px; display:block; line-height:26px;}
.tablist {display: none;}
.block {display: block;}

/*教学课程*/
.about{width:1024px; margin:0 auto; color:#5e250c;}
.about_t{width:600px; margin:0 auto;}
.about_t_t{text-align:center; font-size:30px; font-family:'font_cn'; margin-bottom:20px;}
.about_t_b{line-height:30px; font-size:16px;}

.about_b{width:600px; margin:0 auto; margin-top:50px;}
.about_b_t{text-align:center; font-size:20px; margin-bottom:20px;}
.about_b_b{line-height:30px; font-size:14px; position:relative;}
.about_b_b_l{width:620px;}
.about_b_b_r{width:188px; position:absolute; right:-206px; top:-36px}

/*集团成员*/
.team_member{width:802px; margin:0 auto; margin-top:80px; color:#5e250c;}

.team_member ul li{width:267px; float:left; text-align:center; margin-top:40px;}
.team_member img{display:block; margin:0 auto; margin-bottom:10px;}
.team_member ul li span{display:block; width:100%; line-height:26px;}
.team_member ul li span.first{font-weight:bold; font-size:16px;}
.team_member_b{width:1200px; margin:0 auto; text-align:center; color:#65361a;}
.team_member_b img{display:block; margin:0 auto; margin-bottom:28px;}
.team_member_b span{display:block;}

/*教学课程*/
.teaching_course{width:802px; margin:0 auto;}
.teaching_course_t{text-align:center; font-size:36px; font-family:'font_cn'; margin-bottom:60px; color:#5e250c;}
.teaching_course_b{text-align:center;}
.teaching_course_b img{margin-bottom:100px;}

/*关于我们*/
.about_pics{width:1200px; overflow:hidden; margin-top:23px;}
.about_pics ul{width:1300px;}
.about_pics ul li{width:296px; float:left; margin-right:5px;}

/*注册页*/
.process_t{width:100%; margin-top:20px; text-align:center;}
.process_b{width:100%; margin-top:40px; text-align:center;}
.process_input{width:522px; margin:0 auto; margin-top:30px; font-family:'font_cn'; font-size:20px; color:#5e250c;}
.process_txt{width:170px; height:34px; line-height:40px; float:left; margin-bottom:16px;}
.process_txb{width:340px; height:34px; border:1px solid #eba071; background:#f6efb2; float:right; margin-bottom:16px; padding:0 5px;}
.process_txb input{width:100%; height:32px; background:none; border:none; line-height:36px; font-family:'font_cn'; font-size:22px; color:#5e250c;}

.process_txb2{height:36px; float:left; margin-left:0px;}
.process_txb2 input{width:86px; height:36px; background:#999; color:#fff; font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"; border:none; font-size:16px; cursor:pointer;}
.process_txb2 input.bg2{background:#eda66e;}
.process_txb2 input.bg2:active{background:#cb8b58;}

.process_phone{width:606px; text-align:center; margin:0 auto; margin-top:30px; font-family:'font_cn'; font-size:20px; color:#5e250c; line-height:32px;}

/*显示新闻*/
.news_show{width:100%; height:100%; background:rgba(0,0,0,0.6); position:fixed; top:0; left:0; z-index:9999; display:none;}
.news_show_in{width:50%; height:100%; margin:0 auto; background:#fff;}
.news_show_close{color:#fff; font-size:30px; position:absolute; top:5px; right:10px; cursor:pointer;}